<div class="container--hero">
  <h1 class="headline--main">customer portal</h1>
  <div class="img">
    <img class="section--a" src="https://i.postimg.cc/MZFmZXf7/image-1.jpg" />
    <!-- <img class="section--a" src="https://i.postimg.cc/G3TQRnsy/image-4.jpg" /> -->
  </div>
  <div class="container--text">
    <h2 class="headline--sub">customer information</h2>
    <p>
      Customer account information means personally identifiable information
      including Personal Data and Customer Usage Data. Customer Account
      Information also includes information received by the Company from the
      customer for purposes of participating in regulated utility programs,
      including, but not limited to bill payment assistance, shutoff protection,
      renewable energy, load management, or energy efficiency.
    </p>
  </div>
</div>
<footer></footer>



